<launch>
    <!-- 参数：模式选择 (record 或 play) -->
    <arg name="mode" default="record" />
    <!-- 使用实际的时间 -->
    <param name="/use_sim_time" value="false" />

    <!-- 记录模式 -->
    <group if="$(eval mode == 'record')">
        <!-- 启动导航 -->
        <include file="$(find amr_launcher)/launch/amr_launch_navi.launch" />

        <!-- 记录 bag 文件，保存数据到指定路径 -->
        <node pkg="rosbag" type="record" name="navi_record" args="-O $(find amr_launcher)/data/navi_record.bag /scan /median_filtered_scan /angle_filtered_scan /filtered_scan /odom /tf /move_base/TrajectoryPlannerROS/global_plan /move_base/TrajectoryPlannerROS/local_plan /cmd_vel" />
    </group>

    <!-- 回放模式 -->
    <group if="$(eval mode == 'play')">
        <!-- 回放之前记录的 bag 文件 -->
        <node pkg="rosbag" type="play" name="navi_playback" args="$(find amr_launcher)/data/navi_record.bag" />
    </group>
</launch>

<!-- 记录自动导航过程： -->
<!-- roslaunch amr_launcher amr_navi_recorder.launch mode:=record -->

<!-- 回放自动导航过程： -->
<!-- roslaunch amr_launcher amr_navi_recorder.launch mode:=play -->
