<launch>

    <!-- 使用实际的时间 -->
    <param name="/use_sim_time" value="false" />

    <!-- 设置配置文件路径 -->
    <arg name="config_dir" value="$(find amr_launcher)/config/slam" />
    <arg name="config_file" value="cartographer_params.lua" />

    <!-- 启动 Cartographer -->
    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
            -configuration_directory $(arg config_dir)
            -configuration_basename $(arg config_file)"
          output="screen">
        <!-- 话题重映射 -->
        <remap from="scan" to="/angle_filtered_scan"/>
        <remap from="imu" to="/imu_filtered"/>
        <remap from="odom" to="/odom"/>
    </node>

    <!-- 启动 Cartographer 的 Occupancy Grid 地图服务 -->
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" output="screen">
        <param name="resolution" value="0.05"/> <!-- 地图分辨率，可以根据需要调整 -->
        <param name="publish_period_sec" value="0.5"/> <!-- 发布地图消息的时间间隔 -->
    </node>

</launch>
