<launch>
    <!-- 使用 lidar_localization 替换 AMCL 节点 -->
    <!-- <node pkg="amr_lidar_localization" type="lidar_localization" name="amr_lidar_localization" output="screen">
        <param name="base_frame" value="base_footprint" />
        <param name="odom_frame" value="odom" />
        <param name="laser_frame" value="laser" />
        <param name="laser_topic" value="/angle_filtered_scan" />
    </node> -->

    <node pkg="jie_ware" type="lidar_loc" name="lidar_loc" >
        <param name="base_frame" value="base_footprint" />
        <param name="odom_frame" value="odom" />
        <param name="laser_frame" value="laser" />
        <param name="laser_topic" value="/angle_filtered_scan" />
    </node>
</launch>