<launch>
    <!-- 加载机器人描述文件 -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find amr_description)/urdf/amr.urdf.xacro'"/>
    <!-- 添加关节状态发布节点 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="50.0"/> <!-- 发布频率为 50 Hz -->
    </node>
    <!-- 添加机器人状态发布节点 -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="50.0"/> <!-- 发布频率为 50 Hz -->
    </node>
</launch>