<launch>
    <arg name="com" default="/dev/om_controller"/>
    <arg name="topicID" default="1"/>
    <arg name="baudrate" default="230400"/>
    <arg name="updateRate" default="10"/> <!-- 里程计数据的更新和发布频率,默认为20Hz。 -->
    <arg name="firstGen" default="" doc="description for this ary"/>
    <arg name="secondGen" default="1," doc="description for this ary"/>
    <arg name="globalID" default="-1"/>
    <arg name="axisNum" default="1" />

    <!-- 主控节点 -->
    <node pkg="om_modbus_master" name="om_modbusRTU_$(arg topicID)" type="om_modbusRTU_node"  output="screen">
        <param name="init_com" type="str" value="$(arg com)"/>
        <param name="init_topicID" type="str" value="$(arg topicID)"/>
        <param name="init_baudrate" type="str" value="$(arg baudrate)"/>
        <param name="init_update_rate" type="str" value="$(arg updateRate)"/>
        <param name="first_gen" type="str" value="$(arg firstGen)"/>
        <param name="second_gen" type="str" value="$(arg secondGen)"/>
        <param name="global_id" type="str" value="$(arg globalID)"/>
        <param name="axis_num" type="str" value="$(arg axisNum)"/>
    </node>

    <!-- 里程计节点 -->
    <node name="amr_odom_to_ros" pkg="om_modbus_master" type="amr_odom_to_ros" />

    <!-- 速度命令节点 -->
    <node name="cmd_vel_to_amr" pkg="om_modbus_master" type="cmd_vel_to_amr" />
</launch>
