<launch>
    <!-- 使用实际的时间 -->
    <param name="/use_sim_time" value="false" />

    <!-- 载入机器人模型 -->
    <include file="$(find amr_launcher)/launch/amr_description.launch"/>

    <!-- Gazebo -->

    <!-- RPLiDAR -->
    <include file="$(find amr_launcher)/launch/amr_rplidar_s2.launch"/>

    <!-- 启动激光雷达滤波器 -->
    <include file="$(find amr_launcher)/launch/amr_laser_filters.launch"/>

    <!-- om_modbusRTU_node & om_ros_node -->
    <include file="$(find amr_launcher)/launch/amr_mobi_con.launch"/>

    <!-- Navigation -->
    <!-- move_base -->
    <include file="$(find amr_launcher)/launch/amr_move_base.launch">
        <!-- 参数配置 -->
        <!-- <rosparam> 用于覆盖 YAML 中的内容来设置节点的内部参数 -->
    </include>

    <!-- 地图加载 -->
    <include file="$(find amr_launcher)/launch/amr_map_server.launch"/>

    <!-- AMCL 定位 -->
    <!-- <include file="$(find amr_launcher)/launch/amr_amcl.launch"/> -->
    <!-- 用于替换 AMCL 定位的 lidar_loc 节点 -->
    <include file="$(find amr_launcher)/launch/amr_lidar_loc.launch"/>

    <!-- Controller -->
    <include file="$(find amr_launcher)/launch/amr_controller.launch"/>

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_launcher)/config/rviz/navi.rviz" />

    <!-- 航标设置与连续导航 -->
    <!-- <include file="$(find amr_launcher)/launch/amr_navi_server.launch"/> -->
    <!-- <include file="$(find amr_launcher)/launch/amr_navi_aids.launch"/> -->
</launch>
