<launch>
    <!-- 参数：模式选择 (record 或 play) -->
    <arg name="mode" default="record" />

    <!-- 如果选择记录模式 -->
    <if unless="$(arg mode) == play">
        <!-- 启动导航 -->
        <include file="$(find amr_launcher)/launch/amr_launch.launch.launch" />

        <!-- 记录 bag 文件，保存数据到指定路径 -->
        <node pkg="rosbag" type="record" name="navi_record" args="-O $(find amr_launcher)/data/navi_record.bag /scan /median_filtered_scan /angle_filtered_scan /filtered_scan /odom /tf /move_base/TrajectoryPlannerROS/global_plan /move_base/TrajectoryPlannerROS/local_plan /cmd_vel" />
    </if>

    <!-- 如果选择回放模式 -->
    <if unless="$(arg mode) == record">
        <!-- 回放之前记录的 bag 文件 -->
        <node pkg="rosbag" type="play" name="navi_playback" args="$(find amr_launcher)/data/navi_record.bag" />
    </if>
</launch>

<!-- 记录自动导航过程： -->
<!-- roslaunch amr_launcher amr_navi_recorder.launch mode:=record -->

<!-- 回放自动导航过程： -->
<!-- roslaunch amr_launcher amr_navi_recorder.launch mode:=play -->
