<launch>
    <!-- om_modbusRTU_node & om_ros_node -->
    <include file="$(find amr_launcher)/launch/amr_mobi_con.launch"/>

    <!-- RPLiDAR -->
    <include file="$(find amr_launcher)/launch/amr_rplidar_s2.launch"/>

    <!-- Controller -->
    <include file="$(find amr_launcher)/launch/amr_controller.launch"/>

    <!-- IMU -->
    <!-- <include file="$(find amr_imu)/launch/amr_imu.launch"/> -->

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_navi)/config/rviz/amr_map.rviz" />

    <!-- Gazebo -->

    <!-- 载入机器人模型 -->
    <include file="$(find amr_launcher)/launch/amr_description.launch"/>

    <!-- SLAM -->
    <include file="$(find amr_launcher)/launch/amr_gmapping.launch"/>

    <!-- Map server -->
    <include file="$(find amr_launcher)/launch/amr_map.launch"/>

    <!-- Navigation -->
    <include file="$(find amr_launcher)/launch/amr_navi.launch"/>
</launch>
