<launch>

    <!--
                    Gmapping SLAM 需求列表
        1. 激光雷达坐标系(header.frame_id，通常为 laser) → base_link
        2. base_link → odom
        3. 订阅 /scan 话题
    -->

    <!-- Gmapping SLAM 节点 -->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">

        <!-- 激光雷达参数 -->
        <remap from="scan" to="scan"/>   <!-- 确保雷达话题名正确 -->
        <param name="lskip" value="2"/>         <!-- 跳过部分激光点，每隔 2 个点采集一个数据 -->

        <!-- 坐标系设置 -->
        <param name="map_frame" value="map"/>           <!-- 地图坐标系 -->
        <param name="odom_frame" value="odom"/>         <!-- 里程计坐标系 -->
        <param name="base_frame" value="base_link"/>    <!-- 机器人底盘的坐标系，通常接近地面 -->

        <param name="map_update_interval" value="0.5"/>  <!-- 地图更新间隔时间，0.5 秒更新一次 -->

        <!-- 机器人移动更新条件 -->
        <param name="linearUpdate" value="0.1"/>   <!-- 机器人移动 10 cm 触发地图更新 -->
        <param name="angularUpdate" value="0.436"/>  <!-- 机器人旋转 0.436 rad (25°) 触发地图更新 -->

    </node>

</launch>