<launch>
    <!-- 参数：模式选择 (record 或 play) -->
    <arg name="mode" default="record" />
    <!-- 使用实际的时间 -->
    <param name="/use_sim_time" value="false" />

    <!-- 记录模式 -->
    <group if="$(eval mode == 'record')">
        <!-- 开始 SLAM 建图 -->
        <include file="$(find amr_launcher)/launch/amr_launch_slam.launch" />

        <!-- 记录 bag 文件，保存数据到指定路径 -->
        <node pkg="rosbag" type="record" name="slam_record" args="-O $(find amr_launcher)/data/slam_record.bag /scan /median_filtered_scan /angle_filtered_scan /filtered_scan /odom /tf /map /map_metadata" />
    </group>

    <!-- 回放模式 -->
    <group if="$(eval mode == 'play')">
        <!-- 回放之前记录的 bag 文件 -->
        <node pkg="rosbag" type="play" name="slam_playback" args="$(find amr_launcher)/data/slam_record.bag" />
    </group>
</launch>

<!-- 记录 SLAM 建图过程： -->
<!-- roslaunch amr_launcher amr_slam_recorder.launch mode:=record -->

<!-- 回放 SLAM 建图过程： -->
<!-- roslaunch amr_launcher amr_slam_recorder.launch mode:=play -->