<launch>
    <!-- 启动 Cartographer -->
    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" output="screen">
        <param name="configuration_directory" value="$(find amr_launcher)/config"/>
        <param name="configuration_basename" value="amr_slam_cartographer.lua"/>
        <!-- 激光雷达话题 -->
        <remap from="scan" to="/rplidar_scan"/>
        <!-- IMU 数据话题 -->
        <!-- <remap from="imu" to="/imu/data"/> -->
        <!-- 里程计数据话题 -->
        <remap from="odom" to="/odom"/>
    </node>

    <!-- 启动 Occupancy Grid 地图服务 -->
    <node name="occupancy_grid_node" pkg="cartographer_ros" type="occupancy_grid_node" output="screen">
        <param name="resolution" value="0.05"/>
    </node>

</launch>