<launch>
    <!-- 加载机器人描述文件 -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find amr_description)/urdf/amr.urdf.xacro'"/>
    <!-- 添加关节状态发布节点 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <!-- 添加机器人状态发布节点 -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_description)/config/rviz/amr.rviz"/>
    <!-- 可选:用于控制关节运动的节点 -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
</launch>
