<launch>

    <!-- move_base -->
    <node name="move_base" pkg="move_base" type="move_base">
        <rosparam file="$(find amr_launcher)/config/navi/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find amr_launcher)/config/navi/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find amr_launcher)/config/navi/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find amr_launcher)/config/navi/local_costmap_params.yaml" command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        
        <!-- <remap> 用于话题、服务和动作的重映射 -->
        <remap from="/scan" to="/filtered_scan"/> <!-- 使用过滤后的激光雷达数据 -->

        <!-- 以下为 2 种局部规划器 -->

        <!-- DWA Planner -->
        <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
        <!-- <rosparam file="$(find amr_launcher)/config/navi/dwa_local_planner_params.yaml" command="load" /> -->

        <!-- TEB Planner -->
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <rosparam file="$(find amr_launcher)/config/navi/teb_local_planner_params.yaml" command="load" />

        <param name="controller_frequency" value="5" type="double" />
    </node>

</launch>