<launch>
    <!-- 使用实际的时间 -->
    <param name="/use_sim_time" value="false" />
    
    <!-- 载入机器人模型 -->
    <include file="$(find amr_launcher)/launch/amr_description.launch"/>

    <!-- Gazebo -->

    <!-- RPLiDAR -->
    <include file="$(find amr_launcher)/launch/amr_rplidar_s2.launch"/>

    <!-- om_modbusRTU_node & om_ros_node -->
    <include file="$(find amr_launcher)/launch/amr_mobi_con.launch"/>

    <!-- IMU -->
    <!-- <include file="$(find amr_imu)/launch/amr_imu.launch"/> -->

    <!-- SLAM -->
    <!-- <include file="$(find amr_launcher)/launch/amr_slam_gmapping.launch"/> -->
    <!-- <include file="$(find amr_launcher)/launch/amr_slam_hector.launch"/> -->
    <!-- <include file="$(find amr_launcher)/launch/amr_slam_cartographer.launch"/> -->

    <!-- Navigation -->
    <include file="$(find amr_launcher)/launch/amr_move_base.launch"/>
    <include file="$(find amr_launcher)/launch/amr_map_server.launch"/>
    <include file="$(find amr_launcher)/launch/amr_amcl_diff.launch"/>
    <!-- <include file="$(find amr_launcher)/launch/amr_navi_server.launch"/> -->
    <!-- <include file="$(find amr_launcher)/launch/amr_navi_aids.launch"/> -->

    <!-- Controller -->
    <include file="$(find amr_launcher)/launch/amr_controller.launch"/>

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_navi)/config/rviz/amr_map.rviz" />

</launch>
